<ion-view title='HR评价'>
    <ion-content>
        <ion-list>
        <div class="hd-img">
            <img src="../img/indexImg.png">
        </div>
<!--             <ion-item class='animated zoomIn'>
                <p ng-click='showPopup()'>HR评价</p>
            </ion-item> -->
<!--                 <ion-checkbox ng-model="isChecked">优秀</ion-checkbox>
                <ion-checkbox ng-model="isChecked">优秀</ion-checkbox>
                <ion-checkbox ng-model="isChecked">优秀</ion-checkbox>
                <ion-checkbox ng-model="isChecked">优秀</ion-checkbox>
                <ion-checkbox ng-model="isChecked">优秀</ion-checkbox>
                <button class="button button-positive button-full">
                提价评价
              </button> -->
        </ion-list>
    </ion-content>
</ion-view>