<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My resume</title>
    <link rel="stylesheet" href="../lib/ionic/css/ionic.css">
    <link rel="stylesheet" href="../css/content.css">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script>
        ;(function(){
            angular.module('myApp',['ionic'])
            .controller('ContentController',[
                '$scope',
                '$ionicSideMenuDelegate',
                function($scope,$ionicSideMenuDelegate){
                    $scope.toggleLeftMenu = function(){
                        $ionicSideMenuDelegate.toggleLeft();
                    }
                }
                ])
            .controller('sideToggleLeft',[
                '$scope',
                '$ionicSideMenuDelegate',
                function($scope,$ionicSideMenuDelegate){

                }
                ])
        })();
    </script>
</head>
<body>
<ion-side-menus>
<!-- 中间内容 -->
<ion-side-menu-content ng-controller="ContentController">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons" ng-click="toggleLeftMenu()">
    <button class="button" ng-click="doSomething()">
        <span class="ion-navicon-round"></span>
    </button>
    </div>
     <h1 class="title">Title!</h1>
     <div class="buttons">
        <button class="button">右侧按钮</button>
    </div>
  </ion-header-bar>

  <ion-content>
  一些内容!
  </ion-content>
<!-- 底部 -->
<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
    首页
  </ion-tab>

  <ion-tab title="列表" icon-on="ion-navicon-round" icon-off="ion-navicon-round">
    列表
  </ion-tab>

  <ion-tab title="详情" icon-on="ion-android-cart" icon-off="ion-android-cart">
    详情
  </ion-tab>

</ion-tabs>
</ion-side-menu-content>
<!-- 侧边栏内容 -->
  <ion-side-menu side="left" ng-controller="sideToggleLeft">
    <ul class="list my-info">
        <li class="item"><img src="../img/yy_6.jpg"></li>
        <li class="item"><p class="fcg">BIRTH(出生)</p><p class="fc6">1992-9-29</p></li>
        <li class="item"><p class="fcg">CONTACT(联系)</p><p class="fc6">524172671@qq.com</p></li>
        <li class="item"><p class="fcg">ADDRESS(住址)</p><p class="fc6">广州市海珠区客村</p></li>
        <li class="item">
          <p class="fcg">SKILLS</p>
          <p class="fc6">Html 5</p>
            <div>
              <i class="smallcircle"></i>
                <i class="smallcircle"></i>
                 <i class="smallcircle"></i>
                <i class="smallcircle"></i>
              <i class="fillcircle"></i>
            </div>
          <p class="fc6">Css 3</p>
            <div>
              <i class="smallcircle"></i>
                <i class="smallcircle"></i>
                 <i class="smallcircle"></i>
                <i class="fillcircle"></i>
              <i class="fillcircle"></i>
            </div>
          <p class="fc6">JavaScript</p>
            <div>
              <i class="smallcircle"></i>
                <i class="smallcircle"></i>
                 <i class="smallcircle"></i>
                <i class="fillcircle"></i>
              <i class="fillcircle"></i>
            </div>
          <p class="fc6">Jquery</p>
             <div>
              <i class="smallcircle"></i>
                <i class="smallcircle"></i>
                 <i class="smallcircle"></i>
                <i class="smallcircle"></i>
              <i class="fillcircle"></i>
            </div>
          <p class="fc6">AngularJs</p>
             <div>
              <i class="smallcircle"></i>
                <i class="smallcircle"></i>
                 <i class="fillcircle"></i>
                <i class="fillcircle"></i>
              <i class="fillcircle"></i>
            </div>
          <p class="fc6">NodeJs</p>
              <div>
              <i class="smallcircle"></i>
                <i class="smallcircle"></i>
                 <i class="fillcircle"></i>
                <i class="fillcircle"></i>
              <i class="fillcircle"></i>
            </div>
        </li>
    </ul>
  </ion-side-menu>
</ion-side-menus>
</body>
</html>