/*index*/
html{font-size:62.5%}
body{width: 375px;height: 667px;}
.slideImg{width: 100%;height: 100%}
.slideImg img{width: 100%;height: 100%};
.lastImg{position: relative;}
.lastImg .checkbtn{position: absolute;top: 75%;left: 50%;margin-left: -30px;}